@{
    ViewData["Title"] = "Strona główna";
}

    <div class="text-center">

        <h1 class="display-4">Wspomaganie przydziału zajęć nauczycielom</h1>

        </br></br></br>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        <h4>Dane tabel</h4>
                    </th>
                    <th>
                        <h4>Funkcje</h4>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
    </div>


        <tr>
            <td>
                <h5> <p><a href="/Nauczyciels">Dane nauczycieli</a></p> </h5>
            </td>
            <td>
                <h5> <p><a href="/KontrolaGodzin">Sprawdź nadgodziny</a></p> </h5>
            </td>
        </tr>

        <tr>
            <td>
                <h5> <p><a href="/Uprawnienies">Informacje o uprawnieniach nauczycieli</a></p> </h5>
            </td>
            <td>
                <h5> <p><a href="/KontrolaZajec">Sprawdź realizację zajęć</a></p> </h5>
            </td>
        </tr>

        <tr>
            <td>
                <h5> <p><a href="/Przedmiots">Dane o przedmiotach</a></p> </h5>
            </td>
            <td>
                <h5> <p><a href="/KontrolaUprawnien">Sprawdź kwaliwifikacje nauczycieli</a></p> </h5>
            </td>
        </tr>

        <tr>
            <td>
                <h5> <p><a href="/Klasas">Dane o klasach</a></p> </h5>
            </td>
            <td>
            </td>
        </tr>

        <tr>
            <td>
                <h5> <p><a href="/Zajecias">Informacje o odbytych zajęciach</a></p> </h5>
            </td>
            <td>
            </td>
        </tr>
    </div>

        </tbody>
        </table>
