@{
    ViewData["Title"] = "Info";
}
<h1>Informacje</h1>

</br>

<p>Aplikacja na wspomagać pracę szkoły w zakresie kontroli przydzielanych godzin oraz kontroli prowadzonych przedmiotów.</p>

</br>

<h5>Autor: Piotr Rogowski</h5>
